<h1>Frascos#ver</h1>
<p>Find me in app/views/frascos/ver.html.erb</p>

 Esto es del navegador:
<strong>
    <%= @saludo_cookie %>
</strong>
<br>
Es el valor de galleta:
<strong>
    <%= @galleta_cookie %>
</strong>
