<h1>Perfil privado </h1>

<div>
    <%= link_to "Cerrar sesi贸n", "cerrar_sesion", method: :delete, data: { confirm: '驴vamos a cerrar sesi贸n?' } %>
    <!-- <%= button_to "Cerrar sesi贸n", "cerrar_sesion", method: :delete, form: { data: { turbo_confirm: '驴vamos a cerrar sesi贸n'}} %> -->
</div>

<p>
    Hola <%= @usuario.correo %> has sido hackeado :)
</p>

<p>
    Mi direcci贸n es: 
</p>
