<h1 class="text-center">Publicar historia</h1>
<div class="banner-registro text-center">
    <%# render 'shared/carousel' %>
    <img src="https://media.giphy.com/media/hS6KvugVZSAH6/giphy.gif">
</div>

<%= render 'form', story: @story %>