<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.giphy.com/media/NEvPzZ8bd1V4Y/giphy.gif" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://media.giphy.com/media/3jiLt1aBGfF37ZmK8a/giphy.gif" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://media.giphy.com/media/jmFuvEcPc620P9rBQq/giphy.gif" class="d-block w-100">
    </div>
  </div>
</div>